*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif;

}
.form1 {
	width: 470px;
	height: 280px;
	background: #f0eded;
	margin: auto;
	margin-top: 200px;
	box-shadow: 1px 4px 15px #000;
	padding: 20px 30px;
}

h1{
	text-align:center;
}

.numCtal{
	width: 100%;
	font-size: 16px;
}
.input{
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border-radius: 4px;
}

.btn-enviar{
	width: 65px;
	height: 35px;
	font-size: 14px;
	background: #2CA0B0;
	color: white;
	border: none;
	border-radius: 4px;     
}
.menu {
     width: 100%;
     margin: 0 auto;
}

header {
     overflow: hidden ;
     background: #047bfa;
     margin:0 auto; 
     width: 85%;         
}

nav ul li {
     list-style: none;
     float: left;
     margin-left: 25px;     
     padding: 20px 0;     
}

nav ul li a {
     text-decoration: none;
     color:white;
     font-size: 12;
}

#section {     
     width: 100%;
     margin: 50px 0;
}

.div {
     margin: 0 auto;
     width: 85%;     
}

.tabla-autUsuarios, .tabla-datGuardados{
     width: 90%;
     text-align: left;
     border-collapse: collapse;
}

.tabla-autUsuarios th, td {     
    
     border: solid 1px rgb(223, 215, 215);
}

.thead-autUsuario {
     background: #f0f1ef;    
}

.informacion{
     padding: 20px;
     font-weight: bold;
}

.thead-autUsuario th  {     
     padding: 10px 80px ;
     font-weight: normal;
}

.datos{
     border: none;
}

.tabla-datGuardados th, td{
     border-bottom: solid 1px rgb(223, 215, 215);
     border-top: solid 1px rgb(223, 215, 215);
     padding: 10px;
}
.columna{
     font-weight: bold;
}

main{
     width: 100%;
     margin: 0 auto;
}
.form-registro{
     margin:30px auto; 
     width: 85%;      
}

.form-label {
     display: inline-block;
     width: 20%;
     margin: 3px;
     padding: 5px;
     height: 25px;
}
.form-registro-input{
     width: 75%;
     height: 25px;
     margin: 3px;
     padding: 5px;
}



.form-genero{
     width: 100%;
     display: block;
     margin: 0;
     padding: 0;
     
}

.button{
     background: #047bfa;
     color: rgb(255, 249, 249);
     margin: 30px 0;
     padding: 10px 15px;
     text-align:center;
     border-radius: 4px;
     border: none;
}

.form-label-genero{
     margin: 0;
     padding:0;
     display: inline-block;

}

